.header{
    background-color: black;
    color: white;
}

.imglogo{
    opacity: 1;
    width: 30%;
   display: inline-block;
   place-items: left;
}
.form{
    margin-top: 0;
    display: inline-block;
    padding-left: 15px;
    width : 50%;
}


